.container {
    background-color: aliceblue;
    padding-top: 3vh;
    padding-left: 3vw;
    
}

.container h2{
    margin-bottom: 2rem;
}

.mainContainer{
  display: flex;
  padding-left: 5rem;
  padding-right: 5rem;
}


.forumContainer {
  flex:3;
  padding-left: 7rem;
    
  /* border-left: 4px solid rgb(102, 161, 255); */
}


/* Category */
.categoryContainer{
  flex:2;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 6rem;
  padding-left: 2rem;
  padding-right: 2rem;

}

.category{
  display: inline-flex; /* 내용만큼 크기를 가짐 */
  padding: 6px 12px;
  border-radius: 16px;
  font-size: 14px;
  cursor: pointer;
  gap: 20px;
  transition: all 0.3s ease;
  border: 1px solid rgb(127, 176, 255);
  color: rgb(86, 150, 253);
  background-color: rgb(219, 233, 255);
  letter-spacing: 1px;
  margin-right: 1.5em;
  margin-bottom: 1.5em;

}

.category:hover{
    box-shadow: 0 5px 8px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 8px 3px rgba(146, 185, 248, 0.713);

    transform: translateY(-8%);
  cursor: pointer;
}







@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.item {
  animation: fadeIn 0.5s ease-in-out;
}
  

  .item {
    position: relative;
    width: 80%;
    min-width: 400px;
    margin: 2.5rem 0;
    padding: 1.5rem 2rem;
    background-color: rgb(219, 233, 255);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
  }

  /* 원 */
  .item::before {
    content: '';
    position: absolute;
    left: -7px;
    top: -3px;
    width: 15px;
    height: 15px;
    background-color: rgb(102, 161, 255);
    border-radius: 50%;
}

.item:hover{
  box-shadow: 2px 2px 10px 5px rgba(146, 185, 248, 0.513);
  transform: translateY(-6%);
  cursor: pointer;

}

.item .date{
    color: rgb(127, 176, 255);
}

  
.itemContent {
    margin-top: 1rem;
}

.itemContent p{
    margin-left: 0.3rem;
    
}



  .itemWrap {
    font-size: 14px;
    color: #555;
    display: flex;
    /* justify-content: flex-end; */
    justify-content: space-between;
    margin-top: 50px;

  }

  .writerWrap{
    display: flex;
    /* justify-content: space-around; */
    gap: 5px;

  }

  .detailWrap{
    display: flex;
    /* justify-content: space-around; */
    gap: 15px;

  }

  .writer {
    font-weight: bold;
    color: rgb(127, 176, 255);
    font-size: 16px;
  }

  .stick{
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }
  
  .views {
    color: #888;
    text-align: left;
  }
  

.loader{
  opacity: 0;
}









@media screen and (max-width: 768px) {
  .container{
    padding-left: 0;
    width: 100vw;
  }
  .container h2{
    display: none;
  }
  .forumContainer {
    padding-left: 1rem;
  }
  .item {
    min-width: 85vw;
    margin: 1.5rem 0;
    padding: 1rem;
  }
  .item::before {
    width: 7px;
    height: 7px;
  }
  

}

